/*
 * Seth's Corne-ish Zen config
 * Things to remember:
 * 1) Nav layer can be accessed by xc combo, or with third thumb key on right hand
 * 2) Can roll NUM+GUI keys to be able to hit GUI+NUMBER for desktop switching etc
 * 
 * COMBS
 * ╭──────────────╮     ╭──────────────╮
 * │ 0  1  2  3  4│     │ 5  6  7  8  9│
 * │10 11 12 13 14│     │15 16 17 18 19│
 * │20 21 22 23 24╰─╮ ╭─╯25 26 27 28 29│
 * ╰───────╮30 31 32│ │33 34 35╭───────╯
 *         ╰────────╯ ╰────────╯
 *   1 & 2  - DEL
 *  21 & 22 - TAB
 *  31 & 24 - ALT
 *                    7 & 8  - ENTER
 *                   25 & 34 - GUI
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DQT2 (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_2_AND_AT)))
#define AT2 (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_APOSTROPHE_AND_QUOTE)))

#define BASE 0
#define SYM 1
#define NUM 2
#define FUNC 3
#define NAV 4
#define DANGER 5

/ {

    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
        };
    };

    combos {
        compatible = "zmk,combos";
        
        // W + F = TAB
        combo_wf_tab {
            layers = <0 1 2 3 4 5 6 7>;
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
        };

        // X + C = DEL
        combo_xc_delete {
            layers = <0 1 2 3 4 5>;
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&lt NAV DEL>;
        };

        // SYM + B = ALT
        combo_alt {
            layers = <0 1 2 3 4 5 6 7>;
            timeout-ms = <50>;
            key-positions = <24 31>;
            bindings = <&sk LALT>;
        };

        // NUM + K = LGUI
        combo_gui {
            layers = <0 1 2 3 4 5>;
            timeout-ms = <50>;
            key-positions = <25 34>;
            bindings = <&sk LGUI>;
        };

        // U + Y = RETURN
        combo_uy_ret {
            layers = <0 1 2 3 4 5 6 7>;
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp RET>;
        };
    };
};



/ {
        keymap {
                compatible = "zmk,keymap";
                colemak_layer {
                    label = "BASE";
//  ╭─────┬─────┬─────┬─────┬─────╮             ╭────────┬───────┬─────┬─────┬─────╮
//  │  Q  │  W  │  F  │  P  │  G  │             │    J   │   L   │  U  │  Y  │  ;  │
//  │  A  │  R  │  S  │  T  │  D  │             │    H   │   N   │  E  │  I  │  O  │
//  │  Z  │  X  │  C  │  V  │  B  ├─────╮ ╭─────┤    K   │   M   │  ,  │  .  │  /  │
//  ╰─────┴─────┴─────┤ CTL │-SYM-│ SFT │ │ SPC │NUM/BKSP│DEL/NAV├─────┴─────┴─────╯
//                    ╰─────┴─────┴─────╯ ╰─────┴────────┴───────╯
                        bindings = <
&kp Q  &kp W  &kp F     &kp P    &kp G           &kp J      &kp L         &kp U      &kp Y    &kp SEMI
&kp A  &kp R  &kp S     &kp T    &kp D           &kp H      &kp N         &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C     &kp V    &kp B           &kp K      &kp M         &kp COMMA  &kp DOT  &kp FSLH
              &sk LCTL  &mo SYM  &sk LSFT        &kp SPACE  &lt NUM BSPC  &lt NAV DEL
                        >;
                };
                symbol_layer {
                    label = "SYM";
//  ╭──────┬─────┬─────┬─────┬─────╮             ╭─────┬─────┬─────┬─────┬─────╮
//  │ ESC  │  \  │  %  │  $  │     │             │     │  ^  │  {  │  }  │     │
//  │  *   │  (  │  )  │  :  │     │             │     │  '  │  [  │  ]  │     │
//  │-FUNC-│  `  │  @  │  &  │     ├─────╮ ╭─────┤     │  #  │  <  │  >  │     │
//  ╰──────┴─────┴─────┤     │_SYM_│ SFT │ │ SPC │BKSP │ DEL ├─────┴─────┴─────╯
//                     ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯
                        bindings = <
&kp ESC   &kp NUBS   &kp PRCNT  &kp DLLR  &none        &none     &kp CARET &kp LBRC &kp RBRC &none
&kp STAR  &kp LPAR   &kp RPAR   &kp COLON &none        &none     &kp SQT   &kp LBKT &kp RBKT &none
&mo FUNC  &kp GRAVE  &kp AT2    &kp AMPS  &none        &none     &kp NUHS  &kp LT   &kp GT   &none
                     &trans     &trans    &kp LSFT     &kp SPACE &kp BSPC  &kp DEL
                        >;
                };
                number_layer {
                    label = "NUM";
//  ╭─────┬─────┬─────┬─────┬─────╮             ╭─────┬─────┬─────┬─────┬─────╮
//  │ ESC │  4  │  5  │  6  │     │             │     │  |  │  -  │  /  │     │
//  │  '  │  1  │  2  │  3  │     │             │     │  "  │  _  │  =  │     │
//  │  ~  │  7  │  8  │  9  │     ├─────╮ ╭─────┤ GUI │  +  │  ?  │  !  │     │
//  ╰─────┴─────┴─────┤  .  │  0  │ SFT │ │ SPC │_NUM_│     ├─────┴─────┴─────╯
//                    ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯
                        bindings = <
&kp ESC    &kp N4  &kp N5  &kp N6 &none         &none      &kp PIPE2 &kp MINUS  &kp FSLH    &none
&kp SQT    &kp N1  &kp N2  &kp N3 &none         &none      &kp DQT2  &kp UNDER  &kp EQUAL   &none
&kp TILDE2 &kp N7  &kp N8  &kp N9 &none         &sk LGUI   &kp PLUS  &kp QMARK  &kp EXCL    &none
                   &kp DOT &kp N0 &kp LSFT      &kp SPACE  &trans    &trans
                        >;
                };
                FUNC_layer {
                    label = "FUNC";
//  ╭──────┬─────┬─────┬─────┬─────╮             ╭─────┬─────┬─────┬─────┬─────╮
//  │      │ F 4 │ F 5 │ F 6 │ F12 │             │ BT0 │ BT1 │ USB │ BLE │     │
//  │CAPSL │ F 1 │ F 2 │ F 1 │ F11 │             │VMUTE│VOLDN│VOLUP│BRIDN│BRIUP│
//  │_FUNC_│ F 7 │ F 8 │ F 9 │ F10 ├─────╮ ╭─────┤     │     │SLEEP│-!!!-│     │
//  ╰──────┴─────┴─────┤     │_SYM_│ SFT │ │ SPC │     │     ├─────┴─────┴─────╯
//                     ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯
                        bindings = <
&none    &kp F4  &kp F5  &kp F6  &kp F12         &bt BT_SEL 0 &bt BT_SEL 1  &out OUT_USB  &out OUT_BLE  &none
&kp CAPS &kp F1  &kp F2  &kp F3  &kp F11         &kp K_MUTE   &kp C_VOL_DN  &kp C_VOL_UP  &kp C_BRI_DN  &kp C_BRI_UP
&trans   &kp F7  &kp F8  &kp F9  &kp F10         &none        &none         &none         &mo DANGER    &trans
                 &trans  &trans  &kp LSFT        &trans       &trans        &trans 
                        >;
                };
                nav_layer {
                    label = "NAV";
//  ╭─────┬─────┬─────┬─────┬─────╮             ╭─────┬─────┬─────┬─────┬─────╮
//  │     │     │     │     │     │             │ DOW │RIGHT│     │     │     │
//  │ SFT │ CTL │ GUI │ ALT │     │             │ LFT │HOME │PGUP │PGDN │ END │
//  │     │   _NAV_   │     │     ├─────╮ ╭─────┤ U P │     │     │     │     │
//  ╰─────┴─────┴─────┤ CTL │ GUI │ SFT │ │ SPC │BSPC │_NAV_├─────┴─────┴─────╯
//                    ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯
                        bindings = <
&none     &none     &none     &none     &none         &kp DOWN   &kp RIGHT  &none      &none      &none
&sk LSFT  &sk LCTL  &sk LALT  &sk LGUI  &none         &kp LEFT   &kp HOME   &kp PG_UP  &kp PG_DN  &kp END
&none     &none     &none     &none     &none         &kp UP     &none      &none      &none      &none
                    &sk LCTL  &sk LGUI  &sk LSFT      &kp SPACE  &kp BSPC   &kp DEL
                        >;
                };
                danger_layer {
                    label = "DANGER";
//  ╭──────┬─────┬─────┬─────┬─────╮             ╭─────┬─────┬─────┬─────┬─────╮
//  │      │     │     │     │     │             │     │     │     │     │     │
//  │      │     │     │     │     │             │     │     │     │     │     │
//  │_FUNC_│   _NAV_   │     │     ├─────╮ ╭─────┤BTCLR│RESET│     │_!!!_│     │
//  ╰──────┴─────┴─────┤_SYM_│     │     │ │     │     │     ├─────┴─────┴─────╯
//                     ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯
                    // impactful buttons
                    // Bluetooth clear, reset
                    bindings = <
&none  &none &none &none  &none      &none      &none  &none &none  &none
&none  &none &none &none  &none      &none      &none  &none &none  &none
&trans &none &none &none  &none      &bt BT_CLR &sys_reset &none &trans &none
             &none &trans &none      &none      &none  &none 
                    >;
                };
        };
};
